In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df = pd.read_csv('D:/DL/ANN/bank-customer-loyalty/\dataset/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# Create independent variable matrix and label
X = df.iloc[:,  3:13]
y = df['Exited']
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [8]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le_1 = LabelEncoder()
X['Geography'] = le_1.fit_transform(X['Geography'])

le_2 = LabelEncoder()
X['Gender'] = le_1.fit_transform(X['Gender'])

X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [16]:
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(X[['Geography']]).toarray())

#Merge with the X
X = X.join(encoder_df)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2
0,619,0,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [23]:
X = X.drop(['Geography', 0], axis=1)
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,1,2
0,619,0,42,2,0.00,1,1,1,101348.88,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,1.0

In [27]:
X = X.values
y= y.values

X

array([[6.1900000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.0134888e+05,
        0.0000000e+00, 0.0000000e+00],
       [6.0800000e+02, 0.0000000e+00, 4.1000000e+01, ..., 1.1254258e+05,
        0.0000000e+00, 1.0000000e+00],
       [5.0200000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.1393157e+05,
        0.0000000e+00, 0.0000000e+00],
       ...,
       [7.0900000e+02, 0.0000000e+00, 3.6000000e+01, ..., 4.2085580e+04,
        0.0000000e+00, 0.0000000e+00],
       [7.7200000e+02, 1.0000000e+00, 4.2000000e+01, ..., 9.2888520e+04,
        1.0000000e+00, 0.0000000e+00],
       [7.9200000e+02, 0.0000000e+00, 2.8000000e+01, ..., 3.8190780e+04,
        0.0000000e+00, 0.0000000e+00]])

In [28]:
# Split our data into training and testing set
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
# Feature scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [33]:
# Build neuron network
from tensorflow import keras

model = keras.Sequential(
    [
        keras.layers.Dense(
            7, activation="relu", input_shape=(X_train.shape[-1],)
        ),
        keras.layers.Dense(256, activation="relu"),
        keras.layers.Dropout(0.3),
        keras.layers.Dense(256, activation="relu"),
        keras.layers.Dropout(0.3),
        keras.layers.Dense(1, activation="sigmoid"),
    ]
)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 7)                 84
_________________________________________________________________
dense_1 (Dense)              (None, 256)               2048
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 256)               65792
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 257
=================================================================
Total params: 68,181
Trainable params: 68,181
Non-trainable params: 0
_________________________________________________________________

In [34]:
#compile
model.compile(optimizer='adam', loss='binary_crossentropy',   metrics=['accuracy'])

In [35]:
#train neural network
model.fit(X_train,  y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4843 - accuracy: 0.7964
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4140 - accuracy: 0.8254
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3902 - accuracy: 0.8342
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3753 - accuracy: 0.8447
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3686 - accuracy: 0.8461
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3581 - accuracy: 0.8521
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8585: 0s - loss: 0.3528 - accuracy: 0.85
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8586
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8608
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8624: 0s - loss: 0.3419 - accuracy
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8619
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8630
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8596
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8630
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8614
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8649
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8658
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8643
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8633
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8648
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8666
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3292 - accuracy: 0.8671
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8671
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3268 - accuracy: 0.8681
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8654: 0s - loss: 0.3253 - accuracy
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3268 - accuracy: 0.8660
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.8652
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3281 - accuracy: 0.8668
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3263 - accuracy: 0.8690
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3254 - accuracy: 0.8674
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3260 - accuracy: 0.8683
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.8687
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3228 - accuracy: 0.8665
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3232 - accuracy: 0.8677
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3229 - accuracy: 0.8689
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3237 - accuracy: 0.8652
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3214 - accuracy: 0.8687
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3222 - accuracy: 0.8701
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3207 - accuracy: 0.8685
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3210 - accuracy: 0.8677
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3222 - accuracy: 0.8695: 0s - loss: 0.3237 - accuracy: 0.86
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3209 - accuracy: 0.8680: 0s - loss: 0.3183 - accuracy:
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3205 - accuracy: 0.8691
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3176 - accuracy: 0.8695
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3175 - accuracy: 0.8681
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3180 - accuracy: 0.8677
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3167 - accuracy: 0.8676
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3184 - accuracy: 0.8680
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3172 - accuracy: 0.8725
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3142 - accuracy: 0.8714
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3146 - accuracy: 0.8700
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3154 - accuracy: 0.8687
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3160 - accuracy: 0.8717
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3174 - accuracy: 0.8690
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3155 - accuracy: 0.8694
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3138 - accuracy: 0.8700
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3130 - accuracy: 0.8704
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3164 - accuracy: 0.8684
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3122 - accuracy: 0.8683
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3148 - accuracy: 0.8691
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3126 - accuracy: 0.8720
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3126 - accuracy: 0.8704
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3104 - accuracy: 0.8694
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3109 - accuracy: 0.8730
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3121 - accuracy: 0.8719
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3102 - accuracy: 0.8716
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3119 - accuracy: 0.8725
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3115 - accuracy: 0.8692
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3081 - accuracy: 0.8694
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3083 - accuracy: 0.8733
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.8711
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3053 - accuracy: 0.8739
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3100 - accuracy: 0.8702
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8726
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3079 - accuracy: 0.8734
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3075 - accuracy: 0.8724
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3052 - accuracy: 0.8735
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3056 - accuracy: 0.8744
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3048 - accuracy: 0.8719
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3058 - accuracy: 0.8726
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3058 - accuracy: 0.8734
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3075 - accuracy: 0.8709
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3061 - accuracy: 0.8725
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3059 - accuracy: 0.8721
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3059 - accuracy: 0.8735
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3055 - accuracy: 0.8724
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3046 - accuracy: 0.8710
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3055 - accuracy: 0.8723
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3043 - accuracy: 0.8756
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3010 - accuracy: 0.8750
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.8742
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3014 - accuracy: 0.8715
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3028 - accuracy: 0.8715
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3001 - accuracy: 0.8734
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3005 - accuracy: 0.8730
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3026 - accuracy: 0.8709
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2995 - accuracy: 0.8759
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3022 - accuracy: 0.8729
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3003 - accuracy: 0.8755
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3004 - accuracy: 0.8746

In [39]:
#predict
y_pred = model.predict(X_test)
y_pred = (y_pred>0.5).astype(int)
y_pred

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [41]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm

array([[1543,   64],
       [ 205,  188]], dtype=int64)